In [20]:
import pandas as pd
import sqlite3

# Read a CSV file into a pandas DataFrame
df = pd.read_csv('employer-export.csv')

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Load the DataFrame into a SQL table
df.to_sql('my_table', conn, if_exists='replace', index=False)

25628

In [40]:
# Query the table using SQL syntax
query = \
    'SELECT Employer, "Doing Business As", "Workforce Size" ' \
    'FROM my_table ' \
    'where "Date Terminated" is null and "Hiring Site Locations (by state)" is not "VA" and Employer like "N%"'
result = pd.read_sql_query(query, conn)
result.to_csv('filtered.csv', index=False)
# Show the result
print(result)

                 Employer   Doing Business As Workforce Size
0        N Touch Wireless                None       20 to 99
1      N-ASK INCORPORATED                NASK       20 to 99
2     n-ask, incorporated                None       20 to 99
3              N.B. Handy            NB Handy     100 to 499
4    N2N Integrations LLC                None       20 to 99
..                    ...                 ...            ...
308             NW3C, Inc                None     100 to 499
309         NWAP II, Inc.  Northwest Atlantic       10 to 19
310   NWB Technology, LLC                None       20 to 99
311            NYCOM, INC                None       20 to 99
312           Nylas, Inc.                None     100 to 499

[313 rows x 3 columns]